*{
  padding: 0;
  margin: 0;
}

.nav{
  padding: 0 80px;
  background-color: white;
  display: flex;
  justify-content: space-between;
  align-items: center;
  height: 110px;
  border: black solid 1px;
}

.logo{
  text-decoration: none;
  font-family: 'Oswald';
  font-weight: 500;
  font-size: 36px;
  color: black;

}
.menu1{
  list-style: none;
  display: flex;
  align-items: center;

}
.link{
  text-decoration: none;
  color: black;
  margin: 0 10px;
  font-family: 'Oswald';
  font-weight: 300;
  font-size: 24px;
  font-style: normal;
}
.link:hover{
  color: gray;
}
.block{
  display: flex;
  justify-content: center;
  align-items: center;
  background: no-repeat  url("../img/background1.jpg");
  background-size: cover;
  height: 812px;


}
.text{
  color: white;
  font-family: 'Oswald';
  font-style: normal;
  font-weight: 700;
  font-size: 60px;
  line-height: 89px;
}