*{
  padding: 0;
  margin: 0;
}

.nav{
  padding: 0 80px;
  background-color: white;
  display: flex;
  justify-content: space-between;
  align-items: center;
  height: 110px;
  border: black solid 1px;
}

.logo{
  text-decoration: none;
  font-family: 'Oswald';
  font-weight: 500;
  font-size: 36px;
  color: black;

}
.menu1{
  list-style: none;
  display: flex;
  align-items: center;

}
.link{
  text-decoration: none;
  color: black;
  margin: 0 10px;
  font-family: 'Oswald';
  font-weight: 300;
  font-size: 24px;
  font-style: normal;
}
.link:hover{
  color: gray;
}
.block{
  display: flex;
  justify-content: center;
  align-items: center;
  flex-direction: column;
  background: no-repeat  url("../img/background1.jpg");
  background-size: cover;
  height: 812px;
}
.title1text{
  color: white;
  font-family: 'Oswald';
  font-style: normal;
  font-weight: 700;
  font-size: 60px;
  line-height: 89px;
  padding-bottom: 7px;
}
.story{
  margin: 30px 80px 60px 80px;
}
.title{
  font-family: 'Oswald';
  font-style: normal;
  font-weight: 500;
  font-size: 36px;
  line-height: 53px;
  text-align: center;
  padding-bottom: 30px;
}
.block2{
  display: flex;
  justify-content: center;
  align-items: center;

}
.story1photo{
  width: 600px;
  height: 400px;
}
.story1photo > img{
  width: 100%;
  height: 100%;
}
.description{
  padding-left: 40px;
  font-family: 'Oswald';
  font-style: normal;
  font-weight: 300;
  font-size: 20px;
  line-height: 30px;
}
.backcolor{
  background:#EFEFEF ;
  padding-bottom: 60px;
}
.container{
  display: flex;
  justify-content: space-around;
}
.card{
  background: #ffff;
  width: 365px;
  height: 474px;
}
.card1title{
  font-family: 'Oswald';
  font-style: normal;
  font-weight: 400;
  font-size: 24px;
  line-height: 36px;
  text-align: left;
  margin: 20px 20px;
}
.image1 {
  width: 325px;
  height: 216px;
  margin: 20px;
}

.image1 > img {
  width: 100%;
  height: 100%;
  object-fit: cover;
}

.description2 {
  font-family: 'Oswald';
  font-style: normal;
  font-weight: 300;
  font-size: 18px;
  line-height: 27px;
  margin: 20px;
}
.bottom{
  background: #817070;
  height: 337px;
  display: flex;
  justify-content: space-around;
  align-items: center;
  flex-direction: column;
}
.subscribe{
  color: #FFFF;
  font-family: 'Oswald';
  font-style: normal;
  font-weight: 500;
  font-size: 36px;
  line-height: 53px;

}
input[type=email] {
  font-family: 'Oswald';
  font-style: normal;
  font-weight: 300;
  font-size: 20px;
  line-height: 30px;
  color: #FFFFFF;
  border: 3px solid #FFFFFF;
  text-align: center;
  background: #817070;
  border: 1px solid #FFFFFF;
  padding: 9px 93px 16px 93px;
  outline:none;
}
::placeholder {color: #FFFFFF;}

.sumbit{
  height: 55px;
  width: 120px;
  font-family: 'Oswald';
  font-style: normal;
  font-weight: 500;
  font-size: 20px;
  line-height: 30px;
  color:#817070;

}
.footer{
  padding: 29px;
}
.footertext{
  text-align: center;
  font-family: 'Oswald';
  font-style: normal;
  font-weight: 300;
  font-size: 20px;
  line-height: 30px;
}